<div class="h-screen flex flex-col flex-wrap">

    <!-- Contenido-->
    <div  class="relative h-4/5 bg-slate-200">
            <!-- Alerta -->
            <div *ngIf="alerta" class="animate__animated animate__backInDown absolute top-8 p-4 py-5 w-[90%] left-0 right-0 mx-auto bg-blue-100 ring-4  xbg-opacity-70 z-50 rounded-lg shadow-lg">
                <p class="text-center">
                        <i class="bi bi-bag-check-fill text-2xl"></i> {{mensajeAlerta}}
                </p> 
            </div>

            <!-- Carta -->
            <div *ngIf="opcionNav == 'carta'" class="h-full">
                <autoservicio-carta (alerta)="mostrarAlerta($event)"  [categoria]="categoria" [idproducto]="idproducto"></autoservicio-carta>
            </div>


            <!-- Cesta -->
            <div *ngIf="opcionNav == 'cesta'" class="w-full h-full">
                <autoservicio-cesta (alerta)="mostrarAlerta($event)"></autoservicio-cesta>
            </div>

            <!-- Pagar -->
            <div *ngIf="opcionNav == 'pagar'" class="w-full h-full">
                <autoservicio-pagar></autoservicio-pagar>
            </div>
    </div>

    <!-- Nav -->
    <div  class="grow bg-gradient-to-b from-zinc-800 to-zinc-600 flex flex-row">
        
        <btn-autoservicio class="flex-grow p-3" *ngFor="let item of nav; index as i" [url]="item.url" [texto]="item.texto" [activo]="opcionNav == item.url" [cantProductos]="cesta==null?0:cesta.length" [icon]="item.icono"></btn-autoservicio>
    </div>
</div>