<div class="w-full h-full flex flex-col pt-8 px-16">

    <!-- Cabecera-->
    <div class="w-full">
        <p class="text-center font-semibold text-slate-800 text-3xl"> Mi cesta</p>
        <hr class="border-slate-300 my-3">
    </div>
    
    <!-- Contenido-->
     <div class="overflow-y-auto w-full grow ">
             <div *ngFor="let prodLinea of cesta" class="flex flex-row w-full h-36 bg-white rounded-lg overflow-hidden  shadow-lg mb-5">
    
                 <div class="p-3 bg-slate-100 w-36">
                     <img src="{{prodLinea.producto.imagen}}" class="bg-white rounded-lg ">
                 </div>
                 <div class=" flex flex-col grow p-6 bg-slate-100">
                     <p class="font-semibold"><span *ngIf="prodLinea.cantidad">x{{prodLinea.cantidad}} </span>{{prodLinea.producto.nombre}}</p>
                     <p class="text-slate-700">{{prodLinea.producto.tamanyos==[""]?prodLinea.producto.tamanyos[0]:"Tamaño estándar"}}</p>
                     <P class="mt-1 text-3xl font-semibold order-last">{{prodLinea.precio * prodLinea.cantidad}}€</P>
                 </div>
                 <div class="w-24 bg-slate-100 flex items-center justify-center">
                     <button (click)="borrarItemCesta(prodLinea)" class="bg-red-500 w-12 h-12 flex items-center justify-center rounded-lg"><i class="bi bi-trash-fill text-xl text-white"></i></button>
                 </div>
             </div>
     </div>
</div>
