<div class="relative bg-slate-200 w-full h-screen flex flex-row">

    <div class="absolute right-12 top-12">
        <toast *ngIf="alerta" [tipo]="tipoAlerta" [texto]="mensajeAlerta"></toast>
    </div>

    <!-- Nav izquierdo -->
    <div class="bg-gradient-to-b from-zinc-800 to-zinc-600 w-1/4 p-6">
        <img src="../../assets/logo-blanca.png" alt="">

        <button routerLink="/dashboard/productos" routerLinkActive="router-link-active"  class="bg-zinc-500 w-full h-20 rounded text-xl text-white">Productos</button>
    </div>


    <!-- Contenido -->
    <div class="w-3/4 p-12">

        <!-- Productos -->
        <div *ngIf="opcion=='productos'">
            <pagina-productos (datosAlerta)="mostrarAlerta($event)"></pagina-productos>
        </div>

        <!-- Cocina -->


        <!-- Mostrador -->


        <!-- Pedidos -->
    </div>
</div>
