<div class="relative bg-slate-200 w-full h-screen flex flex-row">

    <div class="absolute right-12 top-12">
        <toast *ngIf="alerta" [tipo]="tipoAlerta" [texto]="mensajeAlerta"></toast>
    </div>

    <!-- Nav izquierdo -->
    <div class="bg-gradient-to-b from-zinc-800 to-zinc-600 w-1/4 p-6">
        <p class="text-center text-white">DashBoard de</p>
        <img src="../../assets/logo-blanca.png"  class="mb-4">

        <div class="flex flex-col gap-5">
            <button routerLink="/dashboard/cocina"  routerLinkActive="router-link-active"  class="bg-zinc-600 border border-zinc-500 w-full h-16 rounded text-lg text-white">Pedidos</button>
            <button routerLink="/dashboard/productos"  routerLinkActive="router-link-active"  class="bg-zinc-600 border border-zinc-500 w-full h-16 rounded text-lg text-white">Inventario de productos</button>
            <button routerLink="/dashboard/administracion"  routerLinkActive="router-link-active"  class="bg-zinc-600 border border-zinc-500 w-full h-16 rounded text-lg text-white">Administración</button>    
        </div>
      
    
    </div>


    <!-- Contenido -->
    <div class="w-3/4 p-12 h-full overflow-y-auto">

        <!-- Productos -->
        <div *ngIf="opcion=='productos'">
            <pagina-productos (datosAlerta)="mostrarAlerta($event)"></pagina-productos>
        </div>

        <!-- Cocina -->
        <div *ngIf="opcion=='cocina'" class="h-full">
            <pagina-cocina (datosAlerta)="mostrarAlerta($event)"></pagina-cocina>
        </div>


        <!-- Mostrador -->


        <!-- Pedidos -->
    </div>
</div>
