<div class="relative bg-slate-200 w-full h-screen flex flex-row">

    <div class="absolute right-12 top-12">
        <toast *ngIf="alerta" [tipo]="tipoAlerta" [texto]="mensajeAlerta"></toast>
    </div>

    <!-- Nav izquierdo -->
    <div class="bg-gradient-to-b from-zinc-800 to-zinc-600 w-1/4 p-6">
        <p class="text-center text-white">DashBoard de</p>
        <img src="../../assets/logo-blanca.png"  class="mb-4">

        <div class="flex flex-col gap-5">
            <btn-nav-dashboard url="/dashboard/cocina" nombre="Cocina" shortcut = "cocina"></btn-nav-dashboard>
            <btn-nav-dashboard url="/dashboard/mostrador" nombre="Mostrador" shortcut = "mostrador"></btn-nav-dashboard>
            <btn-nav-dashboard url="/dashboard/productos" nombre="Listado de productos" shortcut = "productos"></btn-nav-dashboard>
            <btn-nav-dashboard url="/dashboard/administracion" nombre="Administración" shortcut = "administracion"></btn-nav-dashboard>
        </div>
      
    
    </div>


    <!-- Contenido -->
    <div class="w-3/4 p-12 h-full overflow-y-auto">

        <!-- Productos -->
        <div *ngIf="opcion=='productos'">
            <pagina-productos (datosAlerta)="mostrarAlerta($event)"></pagina-productos>
        </div>

        <!-- Cocina -->
        <div *ngIf="opcion=='cocina'" class="h-full">
            <pagina-cocina (datosAlerta)="mostrarAlerta($event)"></pagina-cocina>
        </div>

        <!-- Mostrador -->
        <div *ngIf="opcion=='mostrador'" class="h-full">
            <pagina-mostrador (datosAlerta)="mostrarAlerta($event)"></pagina-mostrador>
        </div>

        <!-- Pedidos -->
    </div>
</div>
