<div  class="flex flex-col w-full h-screen">
    
    <!-- Imagenes -->
    <div class="relative w-full h-4/5  bg-gradient-to-b from-orange-400 to-orange-300 flex flex-col">
        <img src="../../assets/logo-blanca.png" class="w-96  mx-auto">
        <p class="text-center text-xl text-orange-100 ">Los mejores kebabs y a domicilio</p>
        <img class="absolute w-1/2 max-w-lg left-0 right-0 mx-auto bottom-0" src="../../assets/vector.png" alt="">
    </div>
     
    <!-- Empezar -->
    <button (click)="resetearDatosSesion()" routerLink="/autoservicio/carta" class="w-full bg-gradient-to-b from-zinc-800 to-zinc-600 h-1/5 bg-red-300 flex flex-row items-center p-12"> 
        <p class="w-2/3 text-center font-semibold text-4xl md:text-5xl text-zinc-100">TOCA PARA EMPEZAR</p>
        <img class="w-1/3" src="../../assets/flechas.gif" alt="">
    </button>
   
</div>


